
$pink: rgba(245, 118, 110, 1);
$pink-hover: rgba(245, 118, 110, 0.6);

$purple: rgba(174, 48, 77, 1);
$purple-hover: rgba(174, 48, 77, 0.6);

$login-input-radius: 4px;

$success: rgba(182, 227, 67, 1);
$success-hover: rgba(182, 227, 67, 0.5);